extends layout

block content
	#site(style="width:100%;height:100%;background:red;position:absolute;")
		#login(style="width:200px;height:200px;background:white")
			input(type="text",name="room")
			input(type="text",name="user")
			input(type="text",name="pass")
			div(style="width:100px",onclick="login(this)") Submit
			div(style="width:100px",onclick="register(this)") Register
			div(style="width:100px",onclick="isloggedin(this)") isloggedin
			div(style="width:100px",onclick="logout(this)") logout