doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')		
		//
			script(data-main="/javascripts/main.js", src="/javascripts/require.js")
		script( src="/javascripts/zepto.js" )
		script( src="/javascripts/underscore.js" )
		script( src="/javascripts/backbone.js" )
		script( src="/javascripts/backbone-associations-min.js")
		script( src="/socket.io/socket.io.js")
		script( src="/javascripts/WidgetEng.js")
		script( src="/javascripts/init.js")
		script( src="/javascripts/myevents.js")
	
	body
		block content