extends layout

block content
	#loadingScreen(style="position:absolute;top:0;left:0;width:100%;height:100%;background:white;z-index:9")
		LOADING PLEASE WAIT.......
	#test(data-widget="Site", class="site testme" ,style="width:100%; height:100%; background: green; position: absolute;" ,data-selectable="true",data-events='[{"click":"test"}]')
		#h1box(class="vbox", style="width: 100%; height: 100%; background: blue; border: 1px solid black; position: relative; overflow: hidden; box-sizing: border-box; background-position: initial initial; background-repeat: initial initial;", data-widget="vBox")
			#1box(class="box", style="width: 100px; height: 100px; background: red; border: 1px solid black; position: relative; overflow: hidden; box-sizing: border-box; background-position: initial initial; background-repeat: initial initial;", data-widget="Box")
				img(id="img", class="image", style="width: 100%; height: 100%; border: 1px solid black; position: relative;", data-events="[]" ,data-selectable="true", data-widget="Image", src="../images/test.png")
			#pageController1(style="width:100%;height:100%;background-color: red; border: 1px solid black; position: relative; overflow: hidden; box-sizing: border-box; background-position: initial initial; background-repeat: initial initial;", data-widget="PageController",data-swipe="true")
				#page1(class="page" ,style="width:100%;height:100%; background: green; position: relative; background-position: initial initial; background-repeat: initial initial;" ,data-events='[{"click":"test1"}]' ,data-selectable="true", data-widget="Page")
					#fff(class="customHtml", style="position: relative;", data-events="[]", data-selectable="true" ,data-widget="customHtml") 
						#mytext adadadadsd
					//
						#box11(class="box" ,style="width: 100px; height: 100%; border: 1px solid black; background-color: blue; position: relative; display: block; overflow: hidden; box-sizing: border-box; background-position: initial initial; background-repeat: initial initial;",  data-events="[]",data-selectable="true",data-widget="Box")
				#page2(class="page" ,style="width: 100%; height: 100%; background: yellow; position: relative; display: none; background-position: initial initial; background-repeat: initial initial;" ,data-events="[]" ,data-selectable="true", data-widget="Page")
					
			//
				#2box(class="box", style="width: 100px; height: 100px; background-color: red; border: 1px solid black; position: relative; overflow: hidden; box-sizing: border-box; background-position: initial initial; background-repeat: initial initial;", data-events='[{"click":"test1"}]', data-widget="Box")
	//
		#testsite(style="width:100%;height:100%;position:absolute;background-color:red")		
			div.vbox(style="width:100%;height:100%;background:blue;position:relative;")
				#menu(style="width:100%;height:100px;background:white;") fsdfsf
				#centerBox.hbox.center_box.flex_child_1(style="width:100%;position:relative;background:green")
					#loginForm(style="border:1px solid gray;box-sizing:border:box;padding:10px;background:#c1c1c1")
						#login(style="height:200px;background:white")
							div.hbox
								div(style="width:90px;padding:5px") Room :
								input(type="text",name="room")
							div.hbox
								div(style="width:90px;padding:5px") User name :
								input(type="text",name="user")
							div.hbox
								div(style="width:90px;padding:5px") Password :
								input(type="text",name="pass")
							div(style="padding:5px;",onclick="login(this)") Submit
							div(style="padding:5px;",onclick="isloggedin(this)") isloggedin
							div(style="padding:5px;",onclick="logout(this)") logout

					#registerForm(style="border:1px solid gray;box-sizing:border:box;padding:10px;background:#c1c1c1")
						#register(style="background:white")
							div.hbox
								div(style="width:90px;padding:5px") Full Name :
								input(type="text",name="name")
							div.hbox
								div(style="width:90px;padding:5px") email :
								input(type="text",name="email")
							div.hbox
								div(style="width:90px;padding:5px") User name:
								input(type="text",name="username")
							div.hbox
								div(style="width:90px;padding:5px") Password :
								input(type="text",name="password")
							div(style="padding:5px;",onclick="register(this)") Register
				
	
	
	
	
	