doctype 5
html
	head
		title= title
		link(rel='stylesheet',type="text/css", href='/stylesheets/style.css')
		//
			link(rel='stylesheet/less',type="text/css", href='/stylesheets/styles.less')
			link(rel='stylesheet',type="text/css", href='/stylesheets/idangerous.swiper.css')
		//
			script(src="/javascripts/WidgetEng/lib/less.js",type="text/javascript")	
		script(src="/javascripts/WidgetEng/lib/modernizr.js",type="text/javascript")	
		script(data-main="/javascripts/WidgetEng/main.js", src="/javascripts/WidgetEng/lib/require_2_1_5_min.js")
	
	
	body(style="margin:0;padding:0;")
		block content