body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   height:100%;
}

.dragresize {
 position: relative;//absolute;
 width: 5px;
 height: 5px;
 font-size: 1px;
 background: #EEE;
 border: 1px solid #333;
}


.dragresize-tl {
 top: -8px;
 left: -8px;
 cursor: nw-resize;
}
.dragresize-tm {
 top: -16px;
 left: 50%;
 margin-left: -4px;
 cursor: n-resize;
}
.dragresize-tr {
 top: -23px;
 left: 100%;
 cursor: ne-resize;
}

.dragresize-ml {
 top: 50%;
 margin-top: -4px;
 left: -8px;
 cursor: w-resize;
}
.dragresize-mr {
 top: 50%;
 margin-top: -4px;
 right: -8px;
 cursor: e-resize;
}

.dragresize-bl {
 bottom: -8px;
 left: -8px;
 cursor: sw-resize;
}
.dragresize-bm {
 bottom: -8px;
 left: 50%;
 margin-left: -4px;
 cursor: s-resize;
}
.dragresize-br {
 bottom: -8px;
 right: -8px;
 cursor: se-resize;
}


a {
  color: #00B7FF;
}

#editor { 
       	height:300px;
		width:300px;
    }

*.text_selectable{
	-moz-user-select: -moz-text;
	   -khtml-user-select: text;
	   -webkit-user-select: text;

	   /*
	     Introduced in IE 10.
	     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   */
	   -ms-user-select: text;
	   user-select: text;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


/* ----------- Start of Page Controller-Transitions ---------*/
.pageController {
	position: relative;
	width: 100%;
	overflow:hidden;
}

.pageController .page {
	position: absolute;
	top: 0;
	//z-index: -10;
	width: 100%;
	display: none;
	
}


.pageController .page.active {
	position: relative;
	//z-index: 0;
	display: block;
}




.slidein, .slideout, .sliderevin, .sliderevout
{
	-webkit-backface-visibility: none;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-duration: .3s;
}
			
	@-webkit-KEYFRAMES slidein
	{
	from { left: 100%; }
	to   { left:0;-webkit-transition: left .5s ease-in;  }
	}
	@-webkit-KEYFRAMES slideout
	{
	from { left: 0; }
	to   { left: -100%; -webkit-transition: left .5s ease-in; }
	}
	
	@-webkit-KEYFRAMES sliderevin
	{
	
	from { left: -100%; }
	to   { left:0;-webkit-transition: left .5s ease-in;  }
	
	
	}
	
	@-webkit-KEYFRAMES sliderevout
	{
	
	from { left: 0; }
	to   { left: 100%;-webkit-transition: left .5s ease-in; }
	
	}
	.slidein     { -webkit-animation-name: slidein;     }
	.slideout    { -webkit-animation-name: slideout;    }
	.sliderevin  { -webkit-animation-name: sliderevin;  }
	.sliderevout { -webkit-animation-name: sliderevout; }

/* ----------- END of Page Controller-Transitions ---------*/

/*  ------Start divAlingment  -------*/

	.hbox {
		display: -webkit-box;
		-webkit-box-orient: horizontal;

		display: -moz-box;
		-moz-box-orient: horizontal;

		display: box;
		box-orient: horizontal;
	}

	.vbox {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-align: stretch;

		display: -moz-box;
		-moz-box-orient: vertical;
		-moz-box-align: stretch;

		display: box;
		box-orient: vertical;
		box-align: stretch;
	}

	.justified_box {
		/*-webkit-box-align: center;*/
		-webkit-box-pack: justify;

		/*-moz-box-align: center;*/
		-moz-box-pack: justify;

		/*box-align: center;*/
		box-pack: justify;
	}

	.center_box {
		-webkit-box-align: center;
		-webkit-box-pack: center;

		-moz-box-align: center;
		-moz-box-pack: center;

		box-align: center;
		box-pack: center;
	}
	
	.flex_child_1 {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		box-flex: 1;
	}

	.flex_child_2 {
		-webkit-box-flex: 2;
		-moz-box-flex: 2;
		box-flex: 2;
	}


	#mydragEl.over {
	  border: 2px dashed #000;
	}
	#mydragEl1.over {
	  border: 2px dashed #000;
	}