/*  ------Start divAlingment  -------*/



	.hbox {
		display: -webkit-box;
		-webkit-box-orient: horizontal;

		display: -moz-box;
		-moz-box-orient: horizontal;

		display: box;
		box-orient: horizontal;
	}

	.vbox {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-align: stretch;

		display: -moz-box;
		-moz-box-orient: vertical;
		-moz-box-align: stretch;

		display: box;
		box-orient: vertical;
		box-align: stretch;
	}

	.justified_box {
		/*-webkit-box-align: center;*/
		-webkit-box-pack: justify;
		/*-moz-box-align: center;*/
		-moz-box-pack: justify;
		/*box-align: center;*/
		box-pack: justify;
	}

	.center_box {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		-moz-box-align: center;
		-moz-box-pack: center;
		box-align: center;
		box-pack: center;
	}
	
	.flex_child_1 {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		box-flex: 1;
	}

	.flex_child_2 {
		-webkit-box-flex: 2;
		-moz-box-flex: 2;
		box-flex: 2;
	}
/