extends layout

block content
	#mainWindow.vbox(style="width:100%;height:500px;background:yellow")
		#testwindow
			h1=title
			p Welcome to #{title}
			div(class="hbox")
				div(class="flex_child_1",contenteditable='true',onclick="testme()") Clickme 
				form(action="...", method="post", enctype="multipart/form-data")
					input(type="file", name="displayImage")
				div(style="width:100px",onclick="testme1()") Clickme1
		#window1.flex_child_1(style="background:green")
			#mainarea.hbox(style="width:100%;height:100%;background:blue;overflow:hidden")
				#area1(style="height:100%;background:green")
					#area1Cont.hbox(style="width:100%;height:300px;background:blue")
						#area1Cont1(style="min-width:100px;width:100px;background:black")
							#area11
								#mydragEl(style="width:100px;height:100px;background:blue",draggable="true")
								#mydragEl1(style="width:100px;height:100px;background:blue",draggable="true")
							#area12(style="background:red")
						#areahandle(style="height:100%;width:10px;background:yellow;border:1px solid gray")
				#area2.flex_child_1.vbox(style="height:500px;min-width:100px;background:yellow")
					#tabs.hbox(style="width:100%;background:red")
						#tab1.unselectable(style="height:30px;width:100px;background:green",onclick="WidgetEng.mainController.showPage(0)")
							| page1
						#tab2.unselectable(style="height:30px;width:100px;background:yellow",onclick="WidgetEng.mainController.showPage(1)")
							| page2
					#maintest.unselectable.flex_child_1(style="box-sizing:border-box;height:300px;background:white;border:1px solid gray;padding:20px;")
						#site
				#area3.vbox(style="height:500px;min-width:300px;background:green")
			#WidgetTest.myWidget(style="width:200px;height:200px;background:gray")
				#login(style="width:200px;height:200px;background:white")
					input(type="text",name="room")
					input(type="text",name="user")
					input(type="text",name="pass")
					div(style="width:100px",onclick="login(this)") Submit
					div(style="width:100px",onclick="register(this)") Register
					div(style="width:100px",onclick="isloggedin(this)") isloggedin
					div(style="width:100px",onclick="logout(this)") logout
	
	
	
	
	// comment	
		#codeEditor
			#editor
				|function foo(items) {
				|    var x = "All this is syntax highlighted";
				|    return x;
				|}
			script(src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js",type="text/javascript",charset="utf-8")
			script(type='text/javascript')
				editor = ace.edit("editor");
				editor.setTheme("ace/theme/monokai");
				editor.getSession().setMode("ace/mode/javascript");